@{
    ViewBag.Title = "Home Page";
}

<style>
form
{
    align:"center";
}
</style>

<div class="jumbotron" style="margin:0 auto;width:50%;text-align:left">
    <form data-toggle="validator" role="form" id="myForm">
        <div class="form-group">
            <label for="BoissonId" class="control-label">Boisson</label>
            <select id="BoissonId" class="form-control" name="BoissonId" required>
                <option value="None" selected="Selected">Select Boisson</option>
            </select>
        </div>


        <div class="form-group">
            <label for="Sucre" class="control-label">Sucre</label>
            <input type="number" class="form-control" id="Sucre" name="Sucre" min="0" max="5" placeholder="0" required>
        </div>
        <div class="form-group">
                <label for="HasMuge" class="control-label">J'utilise mon propre Muge</label>
                <input id="HasMuge" type="checkbox" value="true" name="HasMuge" />
                <input type="hidden" value="false" name="HasMuge" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" onclick="Confirm()" >Commander</button>
        </div>
    </form>
    </div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Votre dernier choix</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="lead">Voila votre dernier choix, cliquer sur commander si vous voulez le choisir !.</p>
                <div id="r">
                   
                 </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"  onclick="Confirm()" >Commander</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalConfirme" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="lead">Merci pour votre achat, A bientot !</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
   

@section scripts
{
        @Scripts.Render("~/bundles/jqueryval")
        <script>
            function Confirm()
            {
                $('#myModal').modal('hide');
                $('#myModalConfirme').modal('show');
            }
            $(document).ready(function () {

                $("#myForm").submit(function(e) {
                    //prevent Default functionality
                    e.preventDefault();

                    //To submit the form
                    $.ajax({
                        url: "/api/Selection/AddSelection",
                        type: 'post',
                        dataType: 'application/json',
                        data: $("#myForm").serialize(),
                        success: function (data) {
                            $('#myModalConfirme').modal('show');

                            }
                    });

                });

                //Populate the DropDownList of Boissons
                $.ajax({
                    url: 'api/Boisson/GetBoissons',
                    type: "GET",
                    dataType: "json"
                })
                .done(function (data) {
                    if (data != null) {
                        $.each(data, function (key, value) {                        
                            $("#BoissonId").append('<option value="'+ value.Id + '">' + value.nom + '</option>')
                         
                        });
                    }
                });

                //Populate the suggestion for the user
                $.ajax({
                    url: '/api/Selection/GetLastSelection',
                    type: "GET",
                    dataType: "json"
                })
                .done(function (data) {
                    if (data != null)
                    {
                        $('#r').html('<p><b>Boisson</b> : ' + data.boisson.nom + '</p>');
                        $('#r').append('<p><b>Sucre</b> : ' + data.Sucre + '/5</p>');
                        if (data.HasMuge) {
                            $('#r').append('<p><b> Vous avez votre propre muge</b></p>');
                        }
                        else {
                            $('#r').append("<p><b> Vous n'avez pas votre propre muge</b></p>");
                        }
                        $('#myModal').modal('show');
                    }                   
                });
            });
        </script>
}

